@media (min-width: 480px) and (max-width: 767px) {
  header {
    grid-column: span 2;
  }
  .b {
    grid-column: span 2;
  }
  .c {
    grid-column: span 2;
  }
  .d {
    grid-column: span 2;
  }
  footer {
    grid-column: span 2;
  }
}

@media (min-width: 768px) and (max-width: 960px) {
  header {
    grid-column: 1 / span 5;
  }

  .b {
    grid-row: 2 / -1;
  }

  .c {
    grid-column: span 2;
  }
  .d {
    grid-column: span 2;
  }
  footer {
    grid-column: span 4;
  }
}

@media (min-width: 961px) {
  header {
    grid-column: 1 / span 5;
  }

  .b {
    grid-row: 2 / -1;
  }

  .c {
    grid-column: span 2;
  }
  .d {
    grid-column: span 2;
  }
  footer {
    grid-column: span 4;
  }
}
